customerConfig:
  customerId: "80248A42-8FE2-4D4A-89DA-02E683511F76"
  title: ""
  locale: "de-DE"
  addressing: "du"
  email: "demo@demo.demo"
  # See https://github.com/Dataport/terminfinder-frontend?tab=readme-ov-file#farben
  colors: |
    {
    }
  imprint: |
    <p>Hier steht das Impressum.</p>
  privacy: |
    <h2>Datenschutzerklärung</h2>
    <p>Hier steht die Datenschutzerklärung.</p>
  tos: |
    <h2>Allgemeine Geschäftsbedingungen (AGB)</h2>
    <p>Hier stehen die Allgemeinen Geschäftsbedingungen.</p>
  accessibility: |
    <h2>Barrierefreiheitserklärung</h2>
    <p>Hier steht die Barrierefreiheitserklärung.</p>

application:
  apiUrl: ""

replicaCount: 1

image:
  repository: registry.opencode.de/dataport/terminfinder/terminfinder-frontend
  pullPolicy: IfNotPresent
  tag: "0.2.4"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: false
  annotations: {}
  name: ""

podAnnotations: {}

podSecurityContext:
  runAsNonRoot: true
  runAsUser: 101
  runAsGroup: 101
  fsGroup: 101

securityContext:
  capabilities:
    drop:
      - ALL
  readOnlyRootFilesystem: false

service:
  type: ClusterIP
  port: 8080

ingress:
  enabled: true
  className: "nginx"
  hosts:
    - host: localhost
      port: 80
      paths:
        - path: /
          pathType: Prefix
  tls: []

resources:
  limits:
    cpu: 500m
    memory: 256Mi
  requests:
    cpu: 500m
    memory: 256Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 20
  targetCPUUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}
