apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "terminfinder-frontend.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "terminfinder-frontend.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "terminfinder-frontend.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        # Restart Deployment when ConfigMap changes. See https://helm.sh/docs/howto/charts_tips_and_tricks/#automatically-roll-deployments
        checksum/config: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
      {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "terminfinder-frontend.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "terminfinder-frontend.serviceAccountName" . }}
      containers:
        - name: {{ .Chart.Name }}
          {{- with .Values.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: CUSTOMER_ID
              value: {{ required "no customerId set" .Values.customerConfig.customerId }}
            - name: API_URL
              value: {{ .Values.application.apiUrl }}
            - name: TITLE
              value: {{ .Values.customerConfig.title }}
            - name: LOCALE
              value: {{ required "no locale set" .Values.customerConfig.locale }}
            - name: ADDRESSING
              value: {{ required "no addressing set" .Values.customerConfig.addressing }}
            - name: EMAIL
              value: {{ required "no email set" .Values.customerConfig.email }}
            - name: COLORS
              value: {{ .Values.customerConfig.colors | toYaml | nindent 14 }}
            - name: IMPRINT
              value: {{ .Values.customerConfig.imprint | toYaml | nindent 14 }}
            - name: PRIVACY
              value: {{ .Values.customerConfig.privacy | toYaml | nindent 14 }}
            - name: TOS
              value: {{ .Values.customerConfig.tos | toYaml | nindent 14 }}
            - name: ACCESSIBILITY
              value: {{ .Values.customerConfig.accessibility | toYaml | nindent 14 }}
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          volumeMounts:
            - mountPath: /usr/share/nginx/html/assets/logo.svg
              name: terminfinder-frontend
              subPath: logo.svg
          livenessProbe:
            initialDelaySeconds: 3
            httpGet:
              path: /
              port: http
          readinessProbe:
            initialDelaySeconds: 3
            httpGet:
              path: /
              port: http
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      volumes:
        - configMap:
            items:
              - key: customer-logo.svg
                path: logo.svg
            name: terminfinder-frontend
          name: terminfinder-frontend
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
