apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "terminfinder-frontend.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "terminfinder-frontend.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "terminfinder-frontend.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "terminfinder-frontend.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      serviceAccountName: {{ include "terminfinder-frontend.serviceAccountName" . }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: ADDRESSING
              valueFrom:
                configMapKeyRef:
                  name: {{ .Release.Name }}-customerConfig
                  key: Anrede
            - name: LOCALE
              valueFrom:
                configMapKeyRef:
                  name: {{ .Release.Name }}-customerConfig
                  key: Sprache
            - name: TITLE
              valueFrom:
                configMapKeyRef:
                  name: {{ .Release.Name }}-customerConfig
                  key: Titel
            - name: EMAIL
              valueFrom:
                configMapKeyRef:
                  name: {{ .Release.Name }}-customerConfig
                  key: email
            - name: API_URL
              value: {{ .Values.app.backend_url }}
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          livenessProbe:
            initialDelaySeconds: 3
            httpGet:
              path: /
              port: http
          readinessProbe:
            initialDelaySeconds: 3
            httpGet:
              path: /
              port: http
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
